<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eric Harm</title>
  <link rel="stylesheet" href="styles.css" />
  <script src="vue@2.6.0"></script>
</head>
<body>

  <div id="app">
    <h1>Eric Harm</h1>

    <section id="code">
      <h2>Software Development</h2>
      <article v-for="entry in entries.code">
        <a v-bind:href="entry.url">{{ entry.label }}</a>
      </article>
    </section>

    <section id="music">
      <h2>Music</h2>
      <article v-for="entry in albumsByYearDesc">
        <div>
          <a class="italic" v-bind:href="entry.spotifyUrl">{{ entry.title }}</a>
          by
          <a class="artist" v-bind:href="artistLinks[entry.artist]">{{ entry.artist }}</a>
        </div>
        <div>
          <span class="label" v-if="!labelLinks[entry.label]">{{ entry.label }}</span><span v-if="!labelLinks[entry.label]">,</span>
          <span v-if="labelLinks[entry.label]">
            <a class="label"  v-bind:href="labelLinks[entry.label]">{{ entry.label }}</a>,
          </span>
          <span class="year">{{ entry.year }}</span>
        </div>
        <small>{{ entry.role }}</small>
      </article>

      <article>
        <div>
          <a class="italic" href="https://www.discogs.com/artist/1160868-Eric-Harm">Eric Harm</a>
          on
          <a class="artist" href="https://www.discogs.com/artist/1160868-Eric-Harm">Discogs</a>
        </div>
      </article>
    </section>

    <section id="chess">
      <h2>Chess</h2>
      <article v-for="entry in entries.chess">
        <a v-bind:href="entry.url">{{ entry.label }}</a>
      </article>
    </section>

    <div class="copyright">&copy; 2022</div>
  </div>


  <script src="main.js"></script>

</body>
</html>
