/* line 1, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#art {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* line 10, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#art .column {
  justify-content: center;
}

/* line 14, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.bordered {
  border-right: 2px solid lightgray;
}

/* line 18, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.close-icon {
  background: white;
  padding: 10px;
  border-radius: 100px;
}

/* line 24, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#art h2 {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  color: #000000;
}

/* line 33, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#canvas-wrapper {
  position: relative;
  /* margin: -5rem 2rem 0; */
  /* margin: -5rem 12rem 0; */
  margin: .5rem 7rem;
}

/* line 40, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#canvas {
  display: block;
  background: #ffffff;
  margin: 0 auto;
  width: 90%;
  border: 2px solid #999999;
}

/* line 49, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.controls {
  background: #e8e1d4;
  border-top: 1px solid #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 7.5% 10% 72.5% 10%;
  grid-template-rows: repeat(1, 1fr);
  height: 76px;
}

/* line 62, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#art-options {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-bottom: 1rem;
}

/* line 71, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#palette-colors {
  padding: 1rem 0;
}

/* line 75, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.palette-color {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 1px solid #000000;
}

/* line 82, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.controls-spot {
  height: 5rem;
  width: 5rem;
}

/* line 87, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.palette-color.active {
  height: 5.5rem;
  width: 5.5rem;
}

/* line 92, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.palette-color + .palette-color, .weight-option.palette-color {
  margin-left: 1rem;
}

/* line 96, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.controls-btn {
  background-color: #ffffff;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 103, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#undo-button {
  background-image: url(../images/undo.png);
}

/* line 107, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select {
  background-image: url(../images/pen.png);
  background-size: 75%;
}

/* line 112, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#submit-btn {
  background-image: url(../images/blue-continue-arrow.png);
  align-self: flex-end;
  background-size: 80%;
  margin-right: 10px;
}

/* line 119, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#art button + button {
  margin-left: 2rem;
}

/* line 123, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#undo-art {
  margin-right: 1rem;
}

/* line 127, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
.top-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  justify-items: end;
  padding: 0px 20px;
  margin-top: -70px;
}

/* The element to hover over */
/* line 139, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover {
  background-color: #FFFFFF;
  border-radius: 5px;
  bottom: 85px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  left: 90px;
  padding: 7px 10px;
  position: absolute;
  width: 80px;
  z-index: 4;
}
/* line 154, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover:before {
  border-top: 12px solid #FFFFFF;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  bottom: -9px;
  content: '';
  display: block;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  z-index: 5;
}
/* line 167, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option {
  background-color: #000000;
  margin: 0;
  box-sizing: content-box;
  position: relative;
}
/* line 174, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:before {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}
/* line 184, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(1) {
  height: 3.75rem;
  width: 3.75rem;
}
/* line 187, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(1):before {
  top: -10px;
  bottom: -5px;
  left: -10px;
  right: -10px;
}
/* line 195, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(2) {
  height: 2.75rem;
  width: 2.75rem;
}
/* line 198, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(2):before {
  top: -10px;
  bottom: -15px;
  left: -15px;
  right: -15px;
}
/* line 206, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(3) {
  height: 1.75rem;
  width: 1.75rem;
}
/* line 209, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(3):before {
  top: -20px;
  bottom: -15px;
  left: -20px;
  right: -20px;
}
/* line 217, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(4) {
  height: 1.25rem;
  width: 1.25rem;
  margin-bottom: 10px;
}
/* line 221, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select .popover .weight-option:nth-of-type(4):before {
  top: -20px;
  bottom: -25px;
  left: -25px;
  right: -25px;
}
/* line 232, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/art.scss */
#weight-select.hover .popover {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 50px);
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 85px;
  }
}
@-moz-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 85px;
  }
}
@-ms-keyframes move-up {
  from {
    bottom: 30px;
  }
  to {
    bottom: 85px;
  }
}
/* line 11, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#all-drawings, #drawings {
  /* width: 100%; */
  /* height: 100%; */
}

/* line 16, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#all-drawings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #fafafa;
  background-position-x: center;
  background-position-y: center !important;
}

/* line 29, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#drawings {
  font-family: Gotham;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

/* line 38, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.grid-section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-auto-flow: dense;
}

/* line 45, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.grid-section .live {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}

/* line 50, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#latest-drawing, #live-drawing {
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* line 56, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#latest-drawing-image, #live-drawing-image {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
}

/* line 64, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#live-drawing-image img {
  width: 100%;
  height: 100%;
  justify-self: center;
}

/* line 70, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#live-drawing-image canvas, .live-drawing-canvas {
  width: 100%;
  height: 100%;
}

/* line 75, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.live-drawing-canvas {
  position: relative;
  z-index: 100;
  background: #fff;
}

/* line 81, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
#latest-drawing-image h1, #live-drawing-image h1 {
  font-size: larger;
  margin: 0;
}

/* line 86, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing {
  display: flex;
  position: relative;
  flex: 1 1 50%;
  /* TODO: config */
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* line 95, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing.small {
  grid-column: span 1;
  grid-row: span 1;
}

/* these two classes aren't getting used */
/* line 101, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing.medium {
  grid-column: 5 / 9;
  grid-row: 3 / 5;
}

/* line 106, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing.large {
  grid-column: span 4;
  grid-row: span 4;
}

/* line 111, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing.glowing::after {
  opacity: 1;
  transition: opacity 1s;
}

/* line 116, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #ffff00;
  opacity: 0;
  transition: opacity 1s;
}

/* line 127, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing img, #latest-drawing-image img {
  max-height: 100%;
  height: inherit;
  opacity: 1;
  transition: opacity 4s;
}

/* line 134, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing img.hidden, #latest-drawing-image img.hidden {
  opacity: 0;
  transition: opacity 4s;
}

/* line 139, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.drawing img {
  background-color: white;
}

/* line 143, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.fadeOut {
  opacity: 0;
  transition: opacity 3s;
}

/* line 148, /Users/ericharm/gramercy/drawing-wall/app/assets/stylesheets/drawings.scss.erb */
.fadeIn {
  opacity: 1;
  transition: opacity 3s;
}
.drawing-export {
  padding: 6rem 10rem;
  overflow: auto;
  height: 100%;
}

.drawing-export form {
  text-align: right;
  margin-top: 3rem;
}

td img {
  height: 100px;
}

th {
  min-width: 7rem;
}
#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-content {
  background: #efefef;
  padding: 2rem 4rem;
  min-width: 70rem;
  max-width: 87.5%;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #060504;
}

#modal-content p {
  font-size: 3rem;
}

#modal-content button + button {
  margin-left: 3rem;
}
#new-user-form {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#new-user-form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.4;
}

#new-user-form form {
  margin: 0 auto;
  font-size: 2rem;
  padding: 2rem 20% 0;
  z-index: 1;
}

#new-user-form h2 {
  text-align: center;
  padding: 0 24%;
  font-size: 5rem;
  z-index: 1;
}

#new-user-form p {
  padding: 0 3rem;
  text-align: center;
  font-size: 2.5rem;
  z-index: 1;
}

#new-user-form label {
  font-size: 3rem;
  font-weight: normal;
}

#new-user-form input, #new-user-form select {
  height: 5rem;
  font-size: 2rem;
  border-radius: 0;
  color: #ffffff;
}

#new-user-form select {
  font-weight: 600;
  background: #f0f0f0;
  padding-left: 2rem;
}

#new-user-form .column {
  align-items: flex-start;
}

#new-user-form .column + .column {
  margin-left: 1rem;
}

.terms-container {
  text-align: center;
  padding: 1rem 4rem;
}

label[for="accepts_terms"] {
  text-transform: uppercase;
}

.required-indicator {
  color: #ff0000;
}

#new-user-form #modal-content h1 {
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
}

.new-user-buttons button + button {
  margin-left: 3rem;
}

.new-user-buttons {
  text-align: center;
}
#terms {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#terms-container {
  border: 1px solid;
  padding: 6px;
  max-height: 600px;
  background: #fcfcfc;
  overflow: auto;
}

#terms-container p {
  font-size: 2.3rem;
  color: #727272;
}

#term-buttons {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
}

.term-button {
  display: flex;
}

.i-agree {
  flex: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.i-agree label {
  position: relative;
  display: flex;
}

.term-button input[type="checkbox"] {
    opacity: 0;
}

.term-button label {
    position: relative;
    display: inline-block;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.term-button label::before,
.term-button label::after {
    position: absolute;
    content: "";
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.term-button label::before{
  height: 4rem;
  width: 4rem;
  left: -4rem;
  top: 3px;
  border: 1px solid;
}

input#accepts-terms:checked + label::before {
  border: 0;
  background: #1081c9;
}

/*Checkmark of the fake checkbox*/
.term-button label::after {
  height: 1.5rem;
  width: 3rem;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  left: -3.5rem;
  top: 11px;
  color: #ffffff;
}

/*Hide the checkmark by default*/
.term-button input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.term-button input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.term-button input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

#terms-container::-webkit-scrollbar {
  width: 10px;
}

#terms-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#terms-container::-webkit-scrollbar-thumb {
  background: #1081c9;
  border-radius: 10px;
}

#terms-container::-webkit-scrollbar-thumb:hover {
  background: #0879c7;
}
#thanks {
  height: 100%;
}

#thanks h1 {
  font-size: 12rem;
  text-transform: uppercase;
  margin-top: -12rem;
}

#thanks p {
  text-align: center;
  font-size: 3rem;
}

.fake-link {
  color: #0879c7;
  font-weight: 500;
}

#citation {
  text-transform: uppercase;
  font-size: 3.5rem;
}

#quotation {
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0 9rem;
}

#thanks .button-container, #done-button {
  justify-content: center;
  display: flex;
  width: 100%;
  /* background-image: url(../images/thumbs-up.png); */
  margin-top: 10rem;
}

.thumbs-up {
  display: block;
  height: 225px;
}

#thanks .logo-container {
  margin-top: 0px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */


@font-face {
  font-family: 'Gotham';
  src: url(/assets/Gotham-Book.otf) format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gotham';
  src: url(/assets/Gotham-Bold.otf) format('truetype');
  font-style: normal;
  font-weight: 600;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gotham';
  src: url(Gotham-Light.otf) format('truetype');
  font-style: normal;
  font-weight: lighter;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gotham';
  src: url(/assets/Gotham-Black.otf) format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gotham';
  src: url(/assets/Gotham-Medium.otf) format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'FranklinGothic';
  src: url(/assets/FranklinGothic.otf) format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'NotoSans';
  src: url(/assets/NotoSans-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "FranklinGothic" !important */
  font-family: "NotoSans" !important
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
}

body, #new-drawing, #drawing-content {
  width: 100%;
  height: 100%;
  /* font-family: Gotham !important; */
}

#drawing-content {
  /* background-color: #4A0938; */
  color: #ffffff;
}

#drawing-content h2 {
  color: #ffffff;
}

.centerer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
}

#start {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#start .button-container, #done-button {
  justify-content: center;
  display: flex;
  width: 100%;
  /* margin-top: 24rem; */
}

#start-content {
  width: 83%;
  justify-content: space-evenly;
}

.dropdown-container {
  width: 17%;
}

.logo {
  margin-bottom: 8rem;
}

.logo-container {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-top: 50px;
}

input, textarea, select, select:focus, select:active, a { 
  outline: none; 
}

.language-select li:first-child {
  border-top: none;
  padding-top: 8.5px;
}

.language-select li.active {
  background: #FFFFFF !important;
  color: #8848A8 !important;
  opacity: 1;
}

.content-container {
  width: 100%;
}

.instructions, .sub-instructions {
  font-family: Gotham;
  text-align: center;
}

.instructions {
  text-transform: uppercase;
  font-weight: 600;
  /* font-size: 6em; */
  font-size: 5.5em;
  line-height: 1;
  margin: auto;
  width: 88%;
}

.sub-instructions {
  font-size: 1.5em;
  padding-top: 15px;
  font-weight: 500;
}

#art-options #submit-art { 
  margin-top: 0px;
}

#start, #thanks, #art, #new-user-form {
  background-size: cover;
  background-repeat: no-repeat;
}

.idle-live {
  /* background-image: url(../images/background.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.idle-live.gtech {
  background: #01579B !important;
}

#all-drawings {
  background-position: -400px;
  overflow: hidden;
  display: grid;
  align-items: flex-start;
}

.grid-section {
  z-index: 3;
}

#drawings::before{
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .04;
  position: absolute;
  background: #000000;
  z-index: 2
}

.sliding-background {
  height: inherit;
  width: 30724px;
  animation: slide 180s linear infinite;
  position: absolute;
  z-index: 1
}

@keyframes slide{
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-15362px, 0, 0);
  }
}

#new-drawing button.button-outline {
  color: #ffffff !important;
  background: #898989 !important;
}

#hidden-refresh {
  top: 0px;
  left: 0px;
  padding: 35px;
  position: absolute;
}
/*!
 * Milligram v1.3.0
 * https://milligram.github.io
 *
 * Copyright (c) 2017 CJ Patoilo
 * Licensed under the MIT license
 */


*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}

blockquote {
  border-left: 0.3rem solid #d1d1d1;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
}

blockquote *:last-child {
  margin-bottom: 0;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
  border-radius: .4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #606c76;
  border-color: #606c76;
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: default;
  opacity: .5;
}

.button[disabled]:focus, .button[disabled]:hover,
button[disabled]:focus,
button[disabled]:hover,
input[type='button'][disabled]:focus,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:focus,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:focus,
input[type='submit'][disabled]:hover {
  background-color: #9b4dca;
  border-color: #9b4dca;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #9b4dca;
}

.button.button-outline:focus, .button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: #606c76;
  color: #606c76;
}

.button.button-outline[disabled]:focus, .button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: inherit;
  color: #9b4dca;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9b4dca;
}

.button.button-clear:focus, .button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #606c76;
}

.button.button-clear[disabled]:focus, .button.button-clear[disabled]:hover,
button.button-clear[disabled]:focus,
button.button-clear[disabled]:hover,
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled]:hover,
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled]:hover,
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled]:hover {
  color: #9b4dca;
}

code {
  background: #f4f5f6;
  border-radius: .4rem;
  font-size: 86%;
  margin: 0 .2rem;
  padding: .2rem .5rem;
  white-space: nowrap;
}

pre {
  background: #f4f5f6;
  border-left: 0.3rem solid #9b4dca;
  overflow-y: hidden;
}

pre > code {
  border-radius: 0;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3.0rem 0;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #d1d1d1;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 3.8rem;
  padding: .6rem 1.0rem;
  width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #9b4dca;
  outline: 0;
}

select {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#d1d1d1" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>') center right no-repeat;
  padding-right: 3.0rem;
}

select:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 29 14" width="29"><path fill="#9b4dca" d="M9.37727 3.625l5.08154 6.93523L19.54036 3.625"/></svg>');
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: .5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: .5rem;
}

.container {
  margin: 0 auto;
  max-width: 112.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.row.row-no-padding {
  padding: 0;
}

.row.row-no-padding > .column {
  padding: 0;
}

.row.row-wrap {
  flex-wrap: wrap;
}

.row.row-top {
  align-items: flex-start;
}

.row.row-bottom {
  align-items: flex-end;
}

.row.row-center {
  align-items: center;
}

.row.row-stretch {
  align-items: stretch;
}

.row.row-baseline {
  align-items: baseline;
}

.row .column {
  display: block;
  flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}

.row .column.column-offset-10 {
  margin-left: 10%;
}

.row .column.column-offset-20 {
  margin-left: 20%;
}

.row .column.column-offset-25 {
  margin-left: 25%;
}

.row .column.column-offset-33, .row .column.column-offset-34 {
  margin-left: 33.3333%;
}

.row .column.column-offset-50 {
  margin-left: 50%;
}

.row .column.column-offset-66, .row .column.column-offset-67 {
  margin-left: 66.6666%;
}

.row .column.column-offset-75 {
  margin-left: 75%;
}

.row .column.column-offset-80 {
  margin-left: 80%;
}

.row .column.column-offset-90 {
  margin-left: 90%;
}

.row .column.column-10 {
  flex: 0 0 10%;
  max-width: 10%;
}

.row .column.column-20 {
  flex: 0 0 20%;
  max-width: 20%;
}

.row .column.column-25 {
  flex: 0 0 25%;
  max-width: 25%;
}

.row .column.column-33, .row .column.column-34 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.row .column.column-40 {
  flex: 0 0 40%;
  max-width: 40%;
}

.row .column.column-50 {
  flex: 0 0 50%;
  max-width: 50%;
}

.row .column.column-60 {
  flex: 0 0 60%;
  max-width: 60%;
}

.row .column.column-66, .row .column.column-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%;
}

.row .column.column-75 {
  flex: 0 0 75%;
  max-width: 75%;
}

.row .column.column-80 {
  flex: 0 0 80%;
  max-width: 80%;
}

.row .column.column-90 {
  flex: 0 0 90%;
  max-width: 90%;
}

.row .column .column-top {
  align-self: flex-start;
}

.row .column .column-bottom {
  align-self: flex-end;
}

.row .column .column-center {
  -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 40rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

a {
  color: #9b4dca;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 1.5rem 0 1.5rem 3.0rem;
}

ol {
  list-style: decimal inside;
}

ul {
  list-style: circle inside;
}

.button,
button,
dd,
dt,
li {
  margin-bottom: 1.0rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

table {
  border-spacing: 0;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

b,
strong {
  font-weight: bold;
}

p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 2.0rem;
  margin-top: 0;
}

h1 {
  font-size: 4.6rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
}

h3 {
  font-size: 2.8rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.2rem;
  letter-spacing: -.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: -.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*# sourceMappingURL=milligram.css.map */
