<nav>
  <div id="logo">
    <%= link_to "Drawing Wall", projects_path %>
  </div>
  <% if current_admin %>
    <div class="sign-out-container">
      <%= current_admin.email %> 
      <% if is_gramercy_email(current_admin.email) %> | <%= link_to "admins", admins_path %><% end %>
       | <%= link_to "sign out", destroy_admin_session_path, method: :delete  %>
    </div>
  <% end %>
</nav>

