#close-button {
  background-image: url(../images/times.png);
}

#undo-button {
  background-image: url(../images/undo.png);
}

#submit-btn {
  background-image: url(../images/blue-continue-arrow.png);
}

#weight-select {
  background-image: url(../images/pen.png);
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes move-up {
  from { bottom: 30px; }
  to { bottom: 85px; }
}
@-moz-keyframes move-up {
  from { bottom: 30px; }
  to { bottom: 85px; }
}
@-ms-keyframes move-up {
  from { bottom: 30px; }
  to { bottom: 85px; }
}
