/* https://chir.ag/projects/name-that-color */
$diesel: #0e0004;
$amethyst: #9b4dca;
$porcelain: #f4f5f6;
$sea-green: #297d4f;
$punch: #dd403a;

body {
  max-height: 100vh;
  overflow: scroll;
}

nav {
  width: 100%;
  padding: 1em 2em;
  display: grid;
  grid-template-columns: auto auto;
  background: $amethyst;
  color: $porcelain;
  a { color: $porcelain; }

  #logo {
    font-weight: bold;
  }

  .sign-out-container {
    text-align: right;
  }
}

#content {
  width: 100%;
  max-width: 1020px;
  padding: 3rem;
  color: $diesel;
  margin: 0 auto;
}

.secondary { color: $sea-green; }

.container .not-a-button {
  color: $amethyst;
  background: none;
  border: none;
  padding: unset;
  text-transform: unset;
  height: unset;
  line-height: unset;
  font-size: 1em;
  margin: unset;
}

.container a {
  color: $amethyst;
  font-weight: bold;
}

tr > td:last-of-type {
  text-align: right;
}

td form {
  display: inline;
  margin: unset;
  margin-left: 1em;
}

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  color: $porcelain !important;

  &.danger {
    background-color: $punch;
    border-color: $punch;
  }

  &.secondary {
    background-color: $sea-green;
    border-color: $sea-green;
  }
}

#project-admin {
  margin-top: 2em;

  ul {
    list-style-type: none;
    &.tabs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }

  li {
    cursor: pointer;
    display: inline-block;
    margin-right: 2em;
  }
  li > div.active { color: $amethyst; }
}

.hidden {
  display: none;
}

.container.invites form {
  display: grid;
  grid-template-columns: 1fr auto;

  input[type='text'] {
    border-radius: 0.4rem 0 0 0.4rem !important;
  }
  input[type="submit"] {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}
