#all-drawings {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #fafafa;
  background-position-x: center;
  background-position-y: center !important;
}

#latest-drawing {
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#latest-drawing-image, #live-drawing-image {
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
}

#live-drawing-image img {
  width: 100%;
  height: 100%;
  justify-self: center;
}

#live-drawing-image canvas, .live-drawing-canvas {
  width: 100%;
  height: 100%;
}

.live-drawing-canvas {
  position: relative;
  z-index: 100;
  background: #fff;
}

#latest-drawing-image h1, #live-drawing-image h1 {
  font-size: larger;
  margin: 0;
}

.drawing {
  display: flex;
  position: relative;
  flex: 1 1 50%; /* TODO: config */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.drawing.small {
  grid-column: span 1;
  grid-row: span 1;
}

.drawing.glowing::after {
  opacity: 1;
  transition: opacity 1s;
}

.drawing::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: #ffff00;
  opacity: 0;
  transition: opacity 1s;
}

.drawing img, #latest-drawing-image img {
  max-height: 100%;
  height: inherit;
  opacity: 1;
  transition: opacity 4s;
}

.drawing img.hidden, #latest-drawing-image img.hidden {
  opacity: 0;
  transition: opacity 4s;
}

.drawing img {
  background-color: white;
}

.fadeOut{
  opacity:0;
  transition: opacity 3s;
}

.fadeIn{
  opacity:1;
  transition: opacity 3s;
}
