#modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-content {
  background: #efefef;
  padding: 2rem 4rem;
  min-width: 70rem;
  max-width: 87.5%;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #060504;
}

#modal-content p {
  font-size: 3rem;
}

#modal-content button + button {
  margin-left: 3rem;
}
