#new-user-form {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#new-user-form::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0.4;
}

#new-user-form form {
  margin: 0 auto;
  font-size: 2rem;
  padding: 2rem 20% 0;
  z-index: 1;
}

#new-user-form h2 {
  text-align: center;
  padding: 0 24%;
  font-size: 5rem;
  z-index: 1;
}

#new-user-form p {
  padding: 0 3rem;
  text-align: center;
  font-size: 2.5rem;
  z-index: 1;
}

#new-user-form label {
  font-size: 3rem;
  font-weight: normal;
}

#new-user-form input, #new-user-form select {
  height: 5rem;
  font-size: 2rem;
  border-radius: 0;
  color: #ffffff;
}

#new-user-form select {
  font-weight: 600;
  background: #f0f0f0;
  padding-left: 2rem;
}

#new-user-form .column {
  align-items: flex-start;
}

#new-user-form .column + .column {
  margin-left: 1rem;
}

.terms-container {
  text-align: center;
  padding: 1rem 4rem;
}

label[for="accepts_terms"] {
  text-transform: uppercase;
}

.required-indicator {
  color: #ff0000;
}

#new-user-form #modal-content h1 {
  font-size: 3rem;
  font-weight: 500;
  width: 100%;
}

.new-user-buttons button + button {
  margin-left: 3rem;
}

.new-user-buttons {
  text-align: center;
}
