#terms {
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#terms-container {
  border: 1px solid;
  padding: 6px;
  max-height: 600px;
  background: #fcfcfc;
  overflow: auto;
}

#terms-container p {
  font-size: 2.3rem;
  color: #727272;
}

#term-buttons {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
}

.term-button {
  display: flex;
}

.i-agree {
  flex: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.i-agree label {
  position: relative;
  display: flex;
}

.term-button input[type="checkbox"] {
    opacity: 0;
}

.term-button label {
    position: relative;
    display: inline-block;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.term-button label::before,
.term-button label::after {
    position: absolute;
    content: "";
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.term-button label::before{
  height: 4rem;
  width: 4rem;
  left: -4rem;
  top: 3px;
  border: 1px solid;
}

input#accepts-terms:checked + label::before {
  border: 0;
  background: #1081c9;
}

/*Checkmark of the fake checkbox*/
.term-button label::after {
  height: 1.5rem;
  width: 3rem;
  border-left: 3px solid;
  border-bottom: 3px solid;
  transform: rotate(-45deg);
  left: -3.5rem;
  top: 11px;
  color: #ffffff;
}

/*Hide the checkmark by default*/
.term-button input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.term-button input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.term-button input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

#terms-container::-webkit-scrollbar {
  width: 10px;
}

#terms-container::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#terms-container::-webkit-scrollbar-thumb {
  background: #1081c9;
  border-radius: 10px;
}

#terms-container::-webkit-scrollbar-thumb:hover {
  background: #0879c7;
}
