#thanks {
  height: 100%;
}

#thanks h1 {
  font-size: 12rem;
  text-transform: uppercase;
  margin-top: -12rem;
}

#thanks p {
  text-align: center;
  font-size: 3rem;
}

.fake-link {
  color: #0879c7;
  font-weight: 500;
}

#citation {
  text-transform: uppercase;
  font-size: 3.5rem;
}

#quotation {
  font-size: 5rem;
  text-align: center;
  margin: 2rem 0 9rem;
}

#thanks .button-container, #done-button {
  justify-content: center;
  display: flex;
  width: 100%;
  /* background-image: url(../images/thumbs-up.png); */
  margin-top: 10rem;
}

.thumbs-up {
  display: block;
  height: 225px;
}

#thanks .logo-container {
  margin-top: 0px;
}